.vscode/
*.pyc
*.png
*.tiff
*.xlsx
*.txt
tmp/*
inputfolder/*
outputfolder/*
.pytest_cache/*
Experiments_Results/*
output/*
!README_Images/*
!*.gitkeep
!*.bin
!/RIDSS2023/src/Experiments/Test_Files/*/*.pdf

