.vscode/
*.pyc
*.png
*.pdf
*.tiff
*.xlsx
tmp/*
src/mystuff
inputfolder/*
outputfolder/*
.pytest_cache/*
!README_Images/*
!*.gitkeep
!*.bin
!/RIDSS2023/src/Experimente/Textausrichtung/Falsch_Rotierte_PDFs/*.pdf
!/RIDSS2023/src/Experimente/Textausrichtung/Richtig_Rotierte_PDFs/*.pdf
