coloredlogs==15.0.1
Flask==2.3.2
humanfriendly==10.0
hypothesis==6.79.0
img2pdf==0.4.2
importlib_resources==5.12.0
packaging==21.3
pdfminer==20191125
pikepdf==5.0.1+dfsg
Pillow==9.5.0
pluggy==1.0.0
pytest==7.3.2
reportlab==4.0.4
sphinx_rtd_theme==1.2.2
tqdm==4.65.0
typing_extensions==4.6.3
watchdog==3.0.0
Werkzeug==2.3.6
pipreqs
